<!-- <div class="body">
    
</div> -->

<mat-toolbar >
    <mat-toolbar-row fxlayout="row" fxLayoutAlign="space-between center">
            <span class="title-center">gestion de conger</span>
            <div class="headreBtn" fxLayoutGap="15px">
                <button mat-button (click)="dialogLogin()">login</button>
                <button mat-button (click)="dialogSignup()">signe up</button>
            </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="anime">
    <div class="cube">
        <div class="big">
            <span style="--i:0;--clr:#e2e2e2;"></span>
            <span style="--i:1;--clr:#f0f0f0;"></span>
            <span style="--i:2;--clr:#e2e2e2;"></span>
            <span style="--i:3;--clr:#f0f0f0;"></span>
            <span class="top"  style="--i:1;--clr:#fff;"></span>

        </div>
    </div>
    <div class="cube2">
        <div class="big">
            <span style="--i:0;--clr:#e2e2e2;"></span>
            <span style="--i:1;--clr:#f0f0f0;"></span>
            <span style="--i:2;--clr:#e2e2e2;"></span>
            <span style="--i:3;--clr:#f0f0f0;"></span>
            <span class="top" style="--clr:#fff"></span>
        </div>
</div>
</div>